<nav class="navbar">
<div class="container">
    <ul class="navcontent">
      <li class="navitem"><a href="/">Home</a></li>
      <li class="navitem"><a href="/clips">Clips</a></li>

{% for item in navitems.items %}
  <li class="navitem">
      <a href="/data/{{item.title}}">
        {{ item.title }}
        </a>
      </li>
    {% endfor %}
</ul>
</div>
</nav>