<nav>
    <ul class="navbar">
{% for item in navitems.items %}
  <li class="navitem">
      <a href="{{ item.url }}">
        {{ item.title }}
        </a>
      </li>
    {% endfor %}
</ul>
</nav>