.titel {
    color: gold;
}
.ticker{
    margin-top: 25.771px;
    color: lightblue;
}
.rubrik {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    display: flex;
}