$bg-color: rgb(175, 31, 31);

$breakpoint-lg: 48rem;
$breakpoint-md: $breakpoint-lg/2;
$berakpoint-sm: $breakpoint-md/2;

body {
    background-color: $bg-color;
}
.navbar {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0 0 0 0;
    text-transform: uppercase;
}

@import 'components/navsite';
@import 'components/container'
