$bg-color: rgb(175, 31, 31);

$breakpoint-lg: 48rem;
$breakpoint-md: $breakpoint-lg/2;
$berakpoint-sm: $breakpoint-md/2;
*{
    margin: 0;
    padding: 0;
}
body {
    background-color: $bg-color;
}
.navbar{
    background-color: black;
    width: 100%;

    .navcontent{
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        justify-content: space-between;
        
    }
    .navitem{
        text-decoration: none;
        list-style: none;
        padding: 2rem 0rem 2rem 0rem;
        margin: 0;
        width: 100%;
        text-transform: uppercase;
       
       
        a {
            text-decoration: none;
            color: #ff0000c2;

            &:hover {
                color: lighten(#ff0000c2, 30%)
            }
        }
    }
}


@import 'components/navsite';
@import 'components/container'
